@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300&display=swap');
.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;

  .title {
    margin-bottom: 20px;
    font-family: 'Fira Sans', sans-serif;
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
